/* basic styles */
html {
  font-size: 100%;
  line-height: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: initial;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}

/* Hero Styles */

.hero-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px;
  align-content: center;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
}

.hero-image-box {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.hero-image-box::after {
  content: "";
  background-color: rgba(223, 94, 94, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-image,
.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.hero-video {
  background-color: #000;
  background-image: url("../img/ocean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-text-box {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  align-self: center;
  text-align: center;
  padding: 1rem;
  z-index: 10;
}

.hero-heading {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.hero-text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
}

.hero-button {
  display: inline-block;
  padding: 0.75rem 2rem;
  background: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 2rem;
}

.hero-button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.hero-button:active {
  transform: scale(0.95);
}

/* Portfolio Gallery Styles */
.portfolio-container {
  margin: 1rem auto 0 auto;
}

.portfolio-container h1 {
  font-size: 2rem;
  line-height: 2rem;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  grid-auto-rows: 300px;
}

.gallery-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gallery-img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease-in-out;
}

.gallery-img:hover {
  transform: scale(1.5);
}

/* About Styles */

.about-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem auto 0 auto;
}

.about-text {
  margin: 0 auto;
  padding: 0 1rem;
}

.about-text h1 {
  font-size: 2rem;
  line-height: 2rem;
}

.about-image img {
  height: 100%;
  object-fit: cover;
}

.about-social {
  display: flex;
  justify-content: start;
}

.about-social a {
  color: black;
  padding: 0 1rem 1rem 1rem;
}

/* Add Media Queries for Large Screens */

@media (min-width: 600px) {
  .hero-heading {
    font-size: 4rem;
    line-height: 4rem;
  }
  .hero-text {
    font-size: 2rem;
    line-height: 2rem;
  }
  .hero-text-box {
    padding: 2rem;
  }

  .portfolio-container h1,
  .about-text h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .about-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .about-text p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 920px) {
  .hero-heading {
    font-size: 6rem;
    line-height: 6rem;
  }
  .portfolio-container,
  .about-container {
    max-width: 1400px;
  }
  .portfolio-container h1,
  .about-text h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .about-text p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
